<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.js</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>

<body>
    <script>
        $(document).ready(() => {
            console.log("Hello");

            async function getText(file) {
                console.log("Faching..");
                await fetch(file)
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data[data.length-1].image.data);
                        let imagetag = document.getElementById("imageview");
                        imagetag.src = "../"+data[data.length-1].image.data;
                    });
            }
            getText("http://localhost:3000/admin/bike/63f8f01fd7efed623c893742");
        })

    </script>
    <h1>Uploaded Images</h1>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png" alt="Italian Trulli" id="imageview" contentType="image">
         
    </div>
</body>

</html>